/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --text-on-accent: #353430;
  --hover-color: rgb(50 49 45 / 0.4);
  --decorated-zone-color: #353430;
  --button-color: #353430;
}

.theme-light .header__decorated-text {
    display: none;
  }

.theme-light .header__decorated-text::after {
    display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --section-title-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --text-on-accent: #353430;
  --hover-color: rgb(50 49 45 / 0.4);
  --decorated-zone-color: #353430;
  --button-color: #353430;
  }

  .header__decorated-text {
      display: none;
  }

  .header__decorated-text::after {
      display: none;
  }
}