/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: var(--main-text-size);
  line-height: 23.4px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  padding: 0 10px;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
}

.header.decorated-zone::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  position: absolute;
}

.header.decorated-zone::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  position: absolute;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 18px;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 4px 13px;
  position: relative;
}

.header__theme-menu-button_active {
  border-color: var(--accent-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border-color: var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 1px;
  background: var(--accent-color);
}

.header__title {
  font-weight: bold;
  align-self: center;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  color: var(--title-color);
}

.header__description {
  justify-self: end;
  align-self: end;
  font-size: var(--main-text-size);
  white-space: pre-line;
}

.content__section {
  padding: 0 10px;
}

.content__section-title {
  color: var(--section-title-color);
  font-size: var(--main-text-size);
  margin-bottom: var(--margin);
  margin-top: 50px;
}

.content__section-title.content__section-reasons__title {
  margin-top: 40px;
}

.content__section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-decor {
  background-color: var(--accent-color);
  font-weight: bold;
  color: var(--text-on-accent);
  font-size: var(--main-text-size);
  margin-bottom: 10px;
}

.title-decor.header__description {
  margin-bottom: 66px;
}

.advices__list-item__title {
  font-weight: normal;
}

.title-decor.advices__subtitle {
  margin: var(--margin) 0;
}

.content__section-list-item__text {
  color: var(--text-color);
}

.text__link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.text__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.list-images {
  gap: 10px;
}

.content__section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.list-images:last-child {
  margin-bottom: 40px;
}

.footer {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.footer__decorated-text {
  top: 10px;
  right: 19px;
  color: var(--accent-color);
}

.footer__title {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  color: var(--title-color);
}

.footer.decorated-zone::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  position: absolute;
}

.footer.decorated-zone::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  position: absolute;
}

@media (width >= 768px) {

  .header {
    min-height: 1024px;
    padding: 0 var(--padding);
  }

  .header.decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .header.decorated-zone::after {
    bottom: 10px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__description {
    justify-self: end;
    align-self: center;
    max-width: 50%;
  }

  .title-decor.header__description {
    margin-bottom: 20px;
  }

  .content__section {
    padding: 0 var(--padding);
    display: grid;
    grid-template-columns: minmax(236px, min-content) 1fr;
    grid-template-rows: min-content 1fr;
    margin-bottom: 80px;
  }

  .content__section:first-child {
    margin-top: 60px;
  }

  .content__section-title {
    margin-top: 0;
  }

  .content__section-title.content__section-reasons__title {
    margin-top: 0;
  }

  .advices__content {
    display: flex;
    flex-direction: column;
  }

  .title-decor.advices__subtitle {
    margin: 0 0 var(--margin) var(--margin);
  }

  .content__section-list:not(.content__section-list__factors):not(.list-images) {
    padding-left: var(--padding);
  }

  .content__section-list__factors {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .content__section-list__advices {
    grid-column-start: 2;
    grid-column-end: auto;
  }

  .content__section-title__images {
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: var(--margin);
  }

  .list-images:last-child {
    margin-bottom: 0;
  }

  .list-images {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__section.images {
    margin-bottom: 60px;
  }

  .list-images__item-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .list-images__item-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }

  .list-images__item-tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .list-images__item-books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .list-images__item-street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    min-height: 1024px;
  }

  .footer.decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .footer.decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header.decorated-zone::before {
    top: 20px;
  }

  .header.decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    padding-top: var(--padding);
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
    align-self: start;
  }

  .title-decor.header__description {
    margin-bottom: var(--margin);
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section-list__reasons {
    grid-column: 2 / 4;
  }

  .content__section-list:not(.content__section-list__factors):not(.list-images) {
    padding-left: 7px;
  }

  .content__section-list__factors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .advices__content {
    grid-column: 2 / 4;
  }

  .title-decor.advices__subtitle {
    margin: 0 0 var(--margin) 7px;
  }

  .content__section-title__images {
    grid-column: 1 / 4;
  }

  .list-images {
    grid-column: 1 / 4;
  }

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}