/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: var(--main-text-size);
  line-height: 23.4px;
  padding: 0 10px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  position: relative;
}

.header__decorated-text {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--decorated-zone-color);
}

.header__decorated-text::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--bg-color-items);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--bg-color-items);
}

.header.decorated-zone::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  bottom: 10px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
  position: absolute;
}

.header.decorated-zone::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 0px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
  position: absolute;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  /*установить высоту и подогнать паддинг*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 18px;
  color: var(--button-color);
  background-color: transparent;
  border: none;
  padding: 0 12.5px 2.5px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__title {
  font-weight: bold;
  align-self: center;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  color: var(--title-color);
}

.header__description {
  justify-self: end;
  align-self: end;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  white-space: pre-line;
  margin-bottom: 66px;
}

.content__section-title {
  color: var(--h2-color);
  font-size: var(--main-text-size);
  margin-bottom: 20px;
  margin-top: 40px;
}

.content__section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-decor {
  color: #000028;
  background-color: var(--bg-color-items);
  font-weight: bold;
  color: var(--h3-color);
  font-size: var(--main-text-size);
}

.title-decor:not(:last-child) {
  margin-bottom: 10px;
}

.title-decor:last-child {
  margin-bottom: 50px;
}

.advices__list-item__title {
  font-weight: normal;
}

.title-decor.advices__subtitle {
  margin: 20px 0;
}

.content__section-list-item__text {
  color: var(--text-color);
}

.list-images {
  gap: 10px;
}

.content__section-image {
  width: 100%;
  display: block;
}

.footer {
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: flex; 
  align-items: center;
}

.footer__decorated-text {
  top: 10px;
  right: 19px;
  color: var(--decorated-zone-color);
}

.footer__title {
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  color: var(--title-color);
}

.decorated-zone::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  bottom: 10px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
  position: absolute;
}

.decorated-zone::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 0px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
  position: absolute;
}