/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-text-size: 18px;
  --padding: 20px;
  --margin: 20px;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --text-on-accent: #000028;
  --hover-color: rgb(255 0 112 / 0.4);
  --decorated-zone-color: #ff0070;
  --button-color: #ff0070;
}